.editingBox {
  margin: 10px;
  padding: 10px;
}

.editingBoxForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;

  label {
    display: flex;
    flex-direction: column;
  }
  input {
    padding: 10px;
    border: 1px solid $col2;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.errorLabel {
  margin: 5px;
  line-height: 1;
  color: red;
}
