html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $col1;
  * {
    color: $col2;
    font-family: 'Roboto', 'Georgia', 'Arial';
  }
}

#react-root {
  position: absolute;
  width: 100%;
  height: 100%;
}

.productColumns {
  display: flex;
}
