#modal-root {
  position: absolute;
  left: 0;
  top: 0;
}

.modalBack {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .2s;
  &.showing {
    opacity: 1;
    transition: opacity .2s;
  }

  .modalBox {
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    width: auto;
    height: auto;
  }
  .modalContent {
  }

}
