.productList {
  margin: 10px;
  padding: 10px;
}
.productListItems {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.productListItem {
  padding: 10px;
  border: 1px solid $col1;
  cursor: pointer;
  color: white;
  background-color: $col2;
  &.selected {
    background-color: White;
    color: $col2;
  }
}
